@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Medium.ttf);
  src: url(fonts/Inter-Regular.ttf);
  src: url(fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: lobster;
  src: url(fonts/Lobster-Regular.ttf);
}

body {
  font-family: Inter;
}

.full_width {
  width: 100%;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}

.list:first-child {
  margin-left: 0px;
}

.list li {
  display: inline-block;
  margin-left: 60px;
}

.list li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.icon {
  display: flex;
}

.icon img {
  margin-left: 45px;
}

.icon:first-child {
  margin-left: 0px;
}

.contact h1 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  color: #000000;
  margin-left: 438px;
}

.full_width {
  width: 100%;
}

.image img {
  border-radius: 16px;
  margin-right: 20px;
  width: 350px;
  height: 472px;
}

.parent1 {
  display: flex;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.form {
  display: block;
  margin: 20px;
}

.parent2 {
  display: flex;
  margin-top: 20px;
}

.parent3 {
  display: flex;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
}

label.emaillable {
  margin-left: 23px;
}
label.inquirylable {
  margin-left: 24px;
}

#name {
  background: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 16px;
  width: 350px;
  height: 60px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  margin-top: 12px;
}

#email {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 350px;
  height: 60px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  margin: 12px 20px;
}
.Form {
  width: 600px;
  margin-left: 30px;
}
#subject {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 350px;
  height: 60px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  margin-top: 12px;
}

#message {
  display: block;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 16px;
  width: 730px;
  height: 180px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
  margin-top: 12px;
}

select {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 380px;
  height: 60px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  margin: 12px 20px;
  display: block;
}

.footer {
  background-image: url(images/footer.png);
  background-repeat: no-repeat;
  width: 1270px;
  height: 442px;
  border-radius: 60px;
  margin: 170px auto;
  display: inline-block;
}

.footer h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  padding-top: 80px;
}

.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
  width: 620px;
  margin-left: 330px;
  text-align: center;
  margin-top: 24px;
}

.footer {
  position: relative;
}
.footer input {
  width: 480px;
  height: 80px;
  border-radius: 24px;
}
.subs a {
  width: 160px;
  height: 50px;
  background: #000000;
  border-radius: 16px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  position: absolute;
  right: 430px;
  margin-top: 10px;
}
.ff {
  display: flex;
  margin-top: 64px;
  margin-left: 400px;
}

.input #text {
  padding-left: 20px;
}

.ff1 {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
}

.logo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 16px;
  margin-bottom: 48px;
}
#submit {
  width: 180px;
  height: 64px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 49px;
  cursor: pointer;
}
.cr p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 400px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
}

.icon1 {
  display: flex;
}

.icon1 img {
  margin-left: 45px;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.icon1:first-child {
  margin-left: 0px;
}

.list1:first-child {
  margin-left: 0px;
}

.list1 li {
  display: inline-block;
  margin-left: 60px;
  animation-name: list;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.list1 li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.ff {
  display: flex;
  margin-top: 64px;
  margin-left: 400px;
}
.input #text {
  padding-left: 20px;
}
.ff1 {
  display: flex;
  justify-content: space-between;
  margin-top: 190px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.heading3 h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-top: 16px;
  margin-left: 24px;
}

.timer2 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.forknife2 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.timer2 {
  display: flex;
  margin-top: 27px;
  margin-left: 14px;
}
.forknife2 {
  display: flex;
  margin-top: 27px;
  margin-left: 14px;
}
.rec2a {
  display: flex;
}
.heart8 {
  background-image: url(images/rec10.png);
  width: 290px;
  height: 200px;
  border-radius: 20px;
  margin: 16px;
  background-repeat: no-repeat;
}
.heart8 img {
  margin-left: 238px;
  margin-top: 16px;
}
.heart9 {
  background-image: url(images/rec11.png);
  width: 290px;
  height: 200px;
  border-radius: 20px;
  margin: 16px;
  background-repeat: no-repeat;
}
.heart9 img {
  margin-left: 238px;
  margin-top: 16px;
}
.heart10 {
  background-image: url(images/rec12.png);
  width: 290px;
  height: 200px;
  border-radius: 20px;
  margin: 16px;
  background-repeat: no-repeat;
}
.heart10 img {
  margin-left: 238px;
  margin-top: 16px;
}
.heart11 {
  background-image: url(images/rec13.png);
  width: 290px;
  height: 200px;
  border-radius: 20px;
  margin: 16px;
  background-repeat: no-repeat;
}
.heart11 img {
  margin-left: 238px;
  margin-top: 16px;
}
.rec2 {
  width: 290px;
  height: 316px;
  border-radius: 30px;
}
.try {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.heading4 {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.logo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 16px;
  margin-bottom: 48px;
}
.cr p {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 400px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
}
.icon1 {
  display: flex;
}
.icon1 img {
  margin-left: 45px;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.icon1:first-child {
  margin-left: 0px;
}

.list1:first-child {
  margin-left: 0px;
}
.list1 li {
  display: inline-block;
  margin-left: 60px;
  animation-name: list;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.list1 li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

span {
  color: red;
}
input.error {
  color: red;
  border: red 1px solid;
  display: block;
}
label.error {
  color: red;
  display: block;
}
.c2 {
  color: red;
  border: 1px solid red;
}
.c3 {
  color: green;
  border: green 1px solid;
}
input.error {
  border: 1px solid red;
  font-weight: 300;
  color: red;
}
.error {
  border-color: red;
}
.valid {
  border-color: green;
}
